.App {
  text-align: center;
}

.cardImg {
  max-width: 150px;
}
.iteration {
  border: 2px solid #000;
  padding: 30px;
  margin: 20px
}
.Random {
  border: 2px solid #000;
}

.CreditCard img {
  width: 50px;
  max-height: 30px;
  margin: 10px;
}

